<!-- Base template for the interface. Within the body block variable website elements are bound. 
(For example: Template for normal search and template for unusability search.) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/customsnormal.css') }}" rel="stylesheet">
    {%if sugly %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/customsugly.css') }}" rel="stylesheet">
<!--    <link href="{{ url_for('static', filename='css/geobootstrap.min.css') }}" rel="stylesheet"> -->
    {% endif %}
    <link href="static/animated_favicon.gif" rel="icon" type="image/x-icon">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Message:</strong> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content%}Here be content...{% endblock %}
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
            <br>
            <br>     
            <br>
            <br>
            <br>
         
<footer class="footer">
    <div class="container">
        <div class="row">
            <br>
            © smonky 2015 &nbsp; <a href="{{ url_for('impressum') }}">Impressum</a>
        </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
