<!-- Index template for the interface. It is bound into the base template. -->
{% extends 'base.jinja' %}
{% block title %}Smonky - Home{% endblock%}
{center(block content, width=80)}
{% block content %}
<form class="form" method="POST" action="/">
    {{ form.hidden_tag() }}
    <!-- LOGO -->
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="center-block">
                {% if not sugly%}
                    <img src="{{ url_for('static', filename = 'smonkynormal.png') }}">
                    {%else %}
                    <img src="{{ url_for('static', filename = 'smonkycrazy.png') }}">
                {% endif %}
            </div>
        </div>
    </div>
    <!-- QUERY FIELD -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group input-lg">
                {{ form.queryfield(class="form-control")}}
            </div>
        </div>
    </div>
    <!-- BUTTONS -->
    <div class="row">
        <div class="col-md-1 col-md-offset-4">
            <button type="submit" formaction="/normal" class="btn btn-lg btn-default">Normal Search</button>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <button type="submit" formaction="/sugly" class="btn btn-lg btn-primary">Let's be crazy!</button>
        </div>
    </div>
    <!-- ERRORS -->
    <br>
    {% if form.queryfield.errors %}
        {% for error in form.queryfield.errors %}
            <span class=text-error>{{ error }}</span>
        {% endfor %}
    {% endif %}
    <br>
</form>
</div>
</p>
<!-- RESULTS -->
{# Bei der Ausgabe müsste ich das ganze allerdings noch auf eine Zahl limitieren, da jetzt einfach erstmal alles ausgegeben werden würde. #}
{% if results %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
    <h3>Results</h3>

        {% for result in results %}
			<div class="panel panel-warning">
				<div class="panel-heading">
				<h3 class="panel-title">{{ result.title | safe }}</h3>
			</div>
				<div class="panel-body">
					<a href="{{ result.url | safe }}">{{ result.url | safe }}</a>
                    {% if debug %}
                    <p>IDF: {{result.idf}} | WDF : {{result.wdf}} | UR: {{result.ur}}</p>
                    {% endif %}
				</div>
			</div>
        {% endfor %}

{% endif %}
</p>
</p>
{% endblock %}
