/* Makeshift CSS Reset */  


/* Tell the browser to render HTML 5 elements as block */  

/* Class */

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Usage as a mixin
.element {
    .center-block();
}

.center {
    margin: 0 auto;
    width: 80%;
}
